
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #000;
  border-bottom: 1px solid #222;
}

.navInner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
}

.navList {
  list-style: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #000;
  display: none;
  flex-direction: column;
  border-top: 1px solid #222;
}

.navListOpen {
  display: flex;
}

.navList li {
  border-bottom: 1px solid #222;
}

.navList a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
}

.navList a:hover {
  background: #111;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navList {
    position: static;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: auto;
    border: none;
  }

  .navList li {
    border: none;
  }

  .navList a {
    padding: 0;
  }
}

main {
  flex: 1;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.footer {
  border-top: 1px solid #c9c9c9;
  background: #aaaaaa;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footerInner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #000000;
}
